{{- if or (not (hasKey .Values.config.server.webhooks "autoProvision")) .Values.config.server.webhooks.autoProvision }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grove-webhook-server-cert
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "operator.server.secret.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: ""
  tls.key: ""
{{- end }}
